*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* color: #CFBC99; */
    color: black;
}



html, body {
    background-color: white;
    overflow-x: hidden;
}

html { 
    background-color: black;
    font-size: 2vw; 
}

#header {
    background-color: black;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    min-height: 3.5rem;
    height: 15vh;
    transition: 0.2s;
    z-index: 10;
}

#header-logo-container {
    box-sizing: border-box;
    height: 100%;
    width: calc(0.83*15vh);
}

.logo {
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: contain;
    width: auto;
}

.logo-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3rem;
    width: min-content;
    max-height: 15vh;
    text-align: justify;
    font-weight: lighter;
    transition: inherit;
} 

.logo-text h1 {
    color: #CFBC99;
    font-size: 4vh;
    font-weight: lighter;
    transition: inherit;
}

.header-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: fit-content;
    width: 60%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70vw;
}

.nav-links li {
    display: block;
    list-style: none;
    padding: 0.4rem;
    text-align: center;
}

.nav-links a {
    font-weight: bold;
    font-size: 1.3rem;
    color: #CFBC99;
}

.nav-links a:hover {
    color: #f8e8cb;
}

.header-burger {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 4vh;
    width: 5vh;

}

.header-burger div {
    position: absolute;
    background-color: #CFBC99;
    width: 5vh;
    height: 5px;
    transition: 0.5s;
    font-size: 0;
    border-radius: 5px;
}

.header-burger div:nth-child(1) {
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.header-burger.open div:nth-child(1) {
    top: 50%;
    left: 0%;
    transform: rotate(405deg);
}

.header-burger div:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.header-burger.open div:nth-child(2) {
    opacity: 0;
    transform: translate(100%, -50%);
}

.header-burger div:nth-child(3) {
    top: 100%;
    left: 0;
    transform: rotate(0deg) translateY(-100%);
}

.header-burger.open div:nth-child(3) {
    top: 50%;
    left: 0%;
    transform: rotate(-405deg);
}

.sliding-banner {
    display: flex;
    padding-top: 15vh;
    position: relative;
    overflow: hidden;
    background-color: black;
    right: 0vw;
    width: 200vw;
    height: 100vh;
    animation: 3s example cubic-bezier(0.635, 0.000, 0.000, 1) alternate-reverse infinite;
    -webkit-animation: 3s example cubic-bezier(0.635, 0.000, 0.000, 1) alternate-reverse infinite;
}

.img-sb.bg1 {
    width: 100vw;
    height: 100%;
    background: url("bg4.jpg") no-repeat center;
    background-size: cover; 
}

.img-sb.bg2 {
    width: 100vw;
    height: 100%;
    background: url("bg5.jpg") no-repeat center;
    background-size: cover; 
}

@-webkit-keyframes example {
    0% {right: 0vw;}
    40% {right: 0vw;}
    60% {right: 100vw;}
    100% {right: 100vw;}
}

@keyframes example {
    0% {right: 0vw;}
    40% {right: 0vw;}
    60% {right: 100vw;}
    100% {right: 100vw;}
}

.container-acquerir {
    background: #81818179;
    box-shadow: 0.3rem 0.3rem 0 #4646465e;
    position: absolute;
    bottom: 2.5rem;
    height: 15%;
    width: 40vw;
    margin: 0 30vw;
}

.container-acquerir::before {
    content: "";
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
    border: 0.2rem solid black;
    border-width: 0.2rem 0 0 0.2rem;
    width: 20%;
    height: 20%;
}

.container-acquerir::after {
    content: "";
    display: block;
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    border: 0.2rem solid black;
    border-width: 0 0.2rem 0.2rem 0;
    width: 20%;
    height: 20%;
}

.container-acquerir:active {
    box-shadow: none;
    transform: translate(0.1rem, 0.2rem);
    transition: box-shadow 0.1s, bottom 0.1s, transform 0.1s;
}

.acquerir-oeuvre {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: lighter;
    font-style: italic;
    color: black;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container-acquerir:hover {
    background: #bebebe79;
}

.univers * {
    color: rgba(54, 54, 54, 0.884);
}

.univers {
    font-family: 'Prata', serif;
    margin: 5rem auto;
}

.univers h1, p {
    text-align: center;
    width: 90vw;
    margin: 3rem auto;
    padding: 0.2rem 5vw;
}

.univers h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-shadow: 0.05rem 0.05rem 0.15rem lightgray;
}

.univers p {
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: lighter;
}

.flash-grid-container {
    background-color: #CFBC99;
    display: grid;
    grid-template-columns: 35vw auto 35vw;
    grid-template-rows: 4rem 30vw 20vw;
    gap: 2rem 1rem;
    height: 70vh;
    min-height: calc(5rem + 30vw);
    max-height: 40vw;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 30vh;
}

.flash-grid-item {
    text-align: center;
}

.flash-grid-item.titre {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 2rem;
}

.flash-grid-item.titre span {
    font-size: 1.3em;
    color: rgb(255, 237, 206);
    font-style: italic;
    text-shadow: 
        0.1rem 0.1rem 0.5rem white,
        -1px 0 rgba(0, 0, 0, 0.603), 
        0 1px rgba(0, 0, 0, 0.603), 
        1px 0 rgba(0, 0, 0, 0.603), 
        0 -1px rgba(0, 0, 0, 0.603);
}

.flash-grid-item.oeuvre-1 {
    margin: 1rem;
    background: url("oeuvre1.png") no-repeat center;
    background-size: cover; 
    width: auto;
    max-width: 35vw;
    height: 100%;
    min-height: 35vw;
    max-height: 40vw;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 0.3rem solid black;
    box-shadow: 0 2rem 1.7rem -1rem rgba(0, 0, 0, 0.589);
}

.flash-grid-item.oeuvre-2 {
    margin: 1rem;
    background: url("oeuvre2.png") no-repeat center;
    background-size: cover; 
    width: auto;
    height: 100%;
    max-width: 35vw;
    min-height: 35vw;
    max-height: 40vw;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 0.3rem solid black;
    box-shadow: 0 2rem 1.7rem -1rem rgba(0, 0, 0, 0.589);
}

.flash-grid-item.description-auteur {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1rem;
    max-width: 25vw;
}

.flash-grid-item.description-auteur h3 {
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: underline;
}

.flash-grid-item.description-auteur * {
    width: 100%;
    padding: 0;
    margin: 0.5rem auto;
}


@media screen and (max-width: 450px) {
  
    #header {
        height: 8vh;
    }
    .header-nav {
        display: visible;
        position: absolute;
        margin: 0;
        top: 100%;
        left: 0;
        transform: translate(100%, 0);
        background-color: rgba(0, 0, 0, 0.7);
        min-width: none;
        width: 100vw;
        height: 92vh;
        transition: 0.5s;
    }

    .header-nav.open {
        left: 0;
        transform: translate(0%, 0%);
    }

    .nav-links {
        margin:auto;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .nav-links a {
        font-size: 4rem;
    }

    .logo-text {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .sliding-banner {
        padding-top: 8vh;
        height: 80vh;
    }

    .flash-grid-container {
        display: block;
        min-height: 60vw;
        margin-bottom: 200vw;
    }

    .flash-grid-item {
        margin: 5vh auto;
    }

    .flash-grid-item.titre {
        min-height: fit-content;
        font-size: 2.5rem;
    }

    .flash-grid-item.oeuvre-1, .flash-grid-item.oeuvre-2 {
        margin: 2vh auto;
        min-width: 60vw;
        min-height: 80vw;
    }

    .flash-grid-item.description-auteur {
        height: fit-content;
        min-width: 80vw;
        font-size: 2rem;
    }
}